In [267]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [268]:
df = pd.read_csv("Electronic_sales_Sep2023-Sep2024.csv")
df

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
0,1000,53,Male,No,Smartphone,SKU1004,2,Cancelled,Credit Card,5538.33,791.19,7,2024-03-20,Standard,"Accessory,Accessory,Accessory",40.21
1,1000,53,Male,No,Tablet,SKU1002,3,Completed,Paypal,741.09,247.03,3,2024-04-20,Overnight,Impulse Item,26.09
2,1002,41,Male,No,Laptop,SKU1005,3,Completed,Credit Card,1855.84,463.96,4,2023-10-17,Express,NaN,0.00
3,1002,41,Male,Yes,Smartphone,SKU1004,2,Completed,Cash,3164.76,791.19,4,2024-08-09,Overnight,"Impulse Item,Impulse Item",60.16
4,1003,75,Male,Yes,Smartphone,SKU1001,5,Completed,Cash,41.50,20.75,2,2024-05-21,Express,Accessory,35.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,27,Female,No,Smartphone,SMP234,4,Completed,Bank Transfer,6838.08,1139.68,6,2024-06-15,Expedited,NaN,0.00
19996,19996,27,Female,Yes,Laptop,LTP123,4,Cancelled,Credit Card,2697.28,674.32,4,2024-07-18,Standard,NaN,0.00
19997,19996,27,Female,No,Headphones,HDP456,4,Completed,Bank Transfer,1805.90,361.18,5,2024-08-26,Standard,"Impulse Item, Extended Warranty, Accessory",198.98
19998,19997,27,Male,No,Headphones,HDP456,1,Cancelled,Bank Transfer,2528.26,361.18,7,2024-01-06,Expedited,"Extended Warranty, Accessory",101.34
19999,19998,27,NaN,Yes,Laptop,LTP123,4,Completed,Bank Transfer,674.32,674.32,1,2024-01-29,Expedited,NaN,0.00

In [269]:
df = df[df['Order Status'] == 'Completed']
df

,Customer ID,Age,Gender,Loyalty Member,Product Type,SKU,Rating,Order Status,Payment Method,Total Price,Unit Price,Quantity,Purchase Date,Shipping Type,Add-ons Purchased,Add-on Total
1,1000,53,Male,No,Tablet,SKU1002,3,Completed,Paypal,741.09,247.03,3,2024-04-20,Overnight,Impulse Item,26.09
2,1002,41,Male,No,Laptop,SKU1005,3,Completed,Credit Card,1855.84,463.96,4,2023-10-17,Express,NaN,0.00
3,1002,41,Male,Yes,Smartphone,SKU1004,2,Completed,Cash,3164.76,791.19,4,2024-08-09,Overnight,"Impulse Item,Impulse Item",60.16
4,1003,75,Male,Yes,Smartphone,SKU1001,5,Completed,Cash,41.50,20.75,2,2024-05-21,Express,Accessory,35.56
5,1004,41,Female,No,Smartphone,SKU1001,5,Completed,Credit Card,83.00,20.75,4,2024-05-26,Standard,"Impulse Item,Accessory",65.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19991,19995,69,Female,Yes,Laptop,LTP123,3,Completed,Credit Card,5394.56,674.32,8,2024-08-09,Same Day,NaN,0.00
19994,19996,27,Female,No,Smartphone,SMP234,5,Completed,Credit Card,3419.04,1139.68,3,2024-04-20,Same Day,NaN,0.00
19995,19996,27,Female,No,Smartphone,SMP234,4,Completed,Bank Transfer,6838.08,1139.68,6,2024-06-15,Expedited,NaN,0.00
19997,19996,27,Female,No,Headphones,HDP456,4,Completed,Bank Transfer,1805.90,361.18,5,2024-08-26,Standard,"Impulse Item, Extended Warranty, Accessory",198.98
19999,19998,27,NaN,Yes,Laptop,LTP123,4,Completed,Bank Transfer,674.32,674.32,1,2024-01-29,Expedited,NaN,0.00

In [270]:
df.isnull().sum()

Customer ID             0
Age                     0
Gender                  1
Loyalty Member          0
Product Type            0
SKU                     0
Rating                  0
Order Status            0
Payment Method          0
Total Price             0
Unit Price              0
Quantity                0
Purchase Date           0
Shipping Type           0
Add-ons Purchased    3287
Add-on Total            0
dtype: int64

In [271]:
user_item_interactions = df.groupby(['Customer ID', 'SKU'])['Rating'].mean().reset_index()
user_item_interactions

       Customer ID      SKU  Rating
0             1000  SKU1002     3.0
1             1002  SKU1004     2.0
2             1002  SKU1005     3.0
3             1003  SKU1001     5.0
4             1004  SKU1001     5.0
...            ...      ...     ...
12501        19991   SMP234     5.0
12502        19995   LTP123     3.0
12503        19996   HDP456     4.0
12504        19996   SMP234     4.5
12505        19998   LTP123     4.0

[12506 rows x 3 columns]

In [272]:
user_ids = user_item_interactions['Customer ID'].unique()
product_ids = user_item_interactions['SKU'].unique()

user_mapping = {user_id: idx for idx, user_id in enumerate(user_ids)}
product_mapping = {product_id: idx for idx, product_id in enumerate(product_ids)}

len(product_mapping)

10

In [273]:
from scipy.sparse import csr_matrix

user_item_matrix = csr_matrix(
    (
        user_item_interactions['Rating'],  # Рейтинги как веса
        (
            user_item_interactions['Customer ID'].map(user_mapping),
            user_item_interactions['SKU'].map(product_mapping)
        )
    ),
    shape=(len(user_ids), len(product_ids))
)

print(user_item_matrix)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 12506 stored elements and shape (9466, 10)>
  Coords	Values
  (0, 0)	3.0
  (1, 1)	2.0
  (1, 2)	3.0
  (2, 3)	5.0
  (3, 3)	5.0
  (4, 2)	3.0
  (4, 4)	3.0
  (5, 0)	3.0
  (5, 2)	3.0
  (6, 4)	3.0
  (7, 1)	2.0
  (8, 1)	2.0
  (9, 3)	5.0
  (10, 3)	5.0
  (11, 3)	5.0
  (12, 0)	3.0
  (13, 4)	3.0
  (14, 1)	2.0
  (15, 2)	3.0
  (15, 3)	5.0
  (16, 1)	2.0
  (17, 4)	3.0
  (18, 4)	3.0
  (19, 3)	5.0
  (19, 4)	3.0
  :	:
  (9449, 7)	4.0
  (9449, 8)	4.0
  (9450, 6)	5.0
  (9450, 9)	2.0
  (9451, 7)	1.0
  (9451, 8)	4.0
  (9452, 5)	3.0
  (9452, 8)	1.0
  (9453, 7)	4.0
  (9454, 7)	3.0
  (9455, 5)	4.0
  (9455, 9)	5.0
  (9456, 9)	2.0
  (9457, 8)	3.0
  (9458, 5)	2.0
  (9458, 7)	1.0
  (9459, 9)	1.0
  (9460, 5)	4.0
  (9461, 5)	5.0
  (9462, 5)	5.0
  (9462, 7)	1.0
  (9463, 9)	3.0
  (9464, 5)	4.5
  (9464, 7)	4.0
  (9465, 9)	4.0

In [274]:
from implicit.als import AlternatingLeastSquares

# Настройка модели
model = AlternatingLeastSquares(
    factors=50,  # Размерность скрытого пространства
    regularization=0.1,  # Регуляризация
    iterations=20  # Количество итераций
)

# Обучение модели
model.fit(user_item_matrix)

100%|██████████| 20/20 [00:01<00:00, 18.60it/s]

In [275]:
def recommend_products(user_id, user_mapping, reverse_product_mapping, model, user_item_matrix, top_n=5):
    if user_id not in user_mapping:
        raise ValueError(f"Пользователь с ID {user_id} отсутствует в данных.")
    
    user_idx = user_mapping[user_id]
    
    if user_item_matrix[user_idx].nnz == 0:
        raise ValueError(f"Для пользователя с ID {user_id} нет взаимодействий.")
    
    # Получение рекомендаций
    recommendations = model.recommend(
        user_idx,
        user_item_matrix[user_idx],
        N=top_n,
        filter_already_liked_items=False
    )
    
    
    product_list = list(product_mapping.keys())

# Теперь сопоставим индексы из рекомендаций с реальными товарными идентификаторами (SKU)
    recommended_product_ids = [product_list[idx] for idx in recommendations[0]]
    return recommended_product_ids

In [276]:
reverse_product_mapping = {v: k for k, v in product_mapping.items()}
user_id = 1002

if user_id not in user_mapping:
    raise ValueError(f"Пользователь с ID {user_id} отсутствует в маппинге.")
    
user_idx = user_mapping[user_id]

if user_item_matrix[user_idx].nnz == 0:  # Проверяем количество ненулевых элементов
    raise ValueError(f"Для пользователя с ID {user_id} нет взаимодействий.")


print(f"Размерность матрицы взаимодействий: {user_item_matrix.shape}")

recommended_products = recommend_products(
    user_id, 
    user_mapping, 
    reverse_product_mapping, 
    model, 
    user_item_matrix,
    top_n=10
)

print(f"Рекомендованные товары для пользователя {user_id}: {recommended_products}")

Размерность матрицы взаимодействий: (9466, 10)
Рекомендованные товары для пользователя 1002: ['SKU1005', 'SKU1004', 'SKU1002', 'SWT567', 'SMP234', 'LTP123', 'HDP456', 'SKU1001', 'TBL345', 'SKU1003']

In [277]:
def ndcg_at_k(y_true, y_pred, k):
    # Переводим y_true в массив релевантности

    k = min(len(y_true), k)
    y_true = [1 if item in y_pred[:k] else 0 for item in y_true]
    y_pred = y_pred[:k]
    
    dcg = np.sum((2 ** np.array(y_true) - 1) / np.log2(np.arange(2, len(y_pred) + 2)))
    
    # Для IDCG используем идеальное ранжирование
    ideal_relevance = sorted(y_true, reverse=True)
    idcg = np.sum((2 ** np.array(ideal_relevance) - 1) / np.log2(np.arange(2, len(ideal_relevance) + 2)))
    
    return dcg / idcg if idcg > 0 else 0

In [278]:
def hit_rate(true_items, recommendations):
    """
    Вычисление метрики Hit Rate.
    
    :param true_items: Список релевантных товаров.
    :param recommendations: Список рекомендаций или одиночное значение.
    :return: 1, если хотя бы один релевантный элемент найден, иначе 0.
    """
    # Убедимся, что recommendations — это список
    if isinstance(recommendations, (int, np.integer)):
        recommendations = [recommendations]
    
    # Проверяем пересечение рекомендованных и релевантных элементов
    return int(any(item in true_items for item in recommendations))

In [279]:
def mean_average_precision(y_true, y_pred, k):
    score = 0.0
    num_hits = 0.0
    for i, p in enumerate(y_pred[:k]):
        if p in y_true and p not in y_pred[:i]:
            num_hits += 1.0
            score += num_hits / (i + 1.0)
    return score / min(len(y_true), k) if len(y_true) > 0 else 0

In [280]:
def evaluate_model(model, user_item_matrix, user_mapping, reverse_product_mapping, top_n=5):
    ndcg_scores = []
    hit_rate_scores = []
    map_scores = []

    for user_id, user_idx in user_mapping.items():
        if user_item_matrix[user_idx].nnz == 0:
            continue  # Пропускаем, если у пользователя нет взаимодействий в тесте
        
        # Получаем реальные товары из теста
        true_items = user_item_matrix[user_idx].indices
        # print(true_items)
        # Генерируем рекомендации для конкретного пользователя
        recommendations = model.recommend(
            user_idx, 
            user_item_matrix,  # Используем обучающую матрицу
            N=top_n,
            filter_already_liked_items=False
        )
        
        # Преобразуем индексы рекомендаций в SKU
        product_list = list(product_mapping.keys())

    # Теперь сопоставим индексы из рекомендаций с реальными товарными идентификаторами (SKU)
        recommended_product_ids = [product_list[idx] for idx in recommendations[0]]

        # Рассчитываем метрики
        ndcg_scores.append(ndcg_at_k(true_items, recommendations[0], top_n))
        hit_rate_scores.append(hit_rate(true_items, recommendations[0]))
        map_scores.append(mean_average_precision(true_items, recommendations[0], top_n))

    # Средние значения метрик
    return {
        "NDCG": np.mean(ndcg_scores),
        "Hit Rate": np.mean(hit_rate_scores),
        "MAP": np.mean(map_scores)
    }

In [281]:
reverse_product_mapping = {v: k for k, v in product_mapping.items()}


metrics = evaluate_model(model, user_item_matrix, user_mapping, reverse_product_mapping, top_n=5)
print("Результаты модели:")
print(f"NDCG: {metrics['NDCG']:.4f}")
print(f"Hit Rate: {metrics['Hit Rate']:.4f}")
print(f"MAP: {metrics['MAP']:.4f}")

Результаты модели:
NDCG: 1.0000
Hit Rate: 1.0000
MAP: 1.0000